* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  min-width: 100%;
}

/* DEBUG */

/* .debug .app__window {
  border: 1px dashed white;
  width: 350px;
  height: 141px;
} */

.debug .toolbar {
  height: 70px;
}

/* MAIN APP */

.main-app {
  display: flex;
  background-color: black;
  min-height: 100vh;
  flex-grow: 1;
}

.main__app__windows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 6px 4px;
}

.app__window {
  position: relative;
}

.streaming img {
  width: 100%;
}

/* WINDOW LABEL */

.window-label {
  position: absolute;
  left: 0;
  top: 180px;
  display: inline-block;
  color: white;
  background-color: grey;
  opacity: 70%;
}

/* TOOLBAR */

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(34, 34, 34);
  color: white;
}

.icon-container {
  display: flex;
  padding-left: 10px;
}

/* LEFT CONTAINER */

.video-icon {
  margin-left: 20px;
}

.chevron {
  padding-top: 8px;
  padding-left: 3px;
}

.chevron img {
  width: 12px;
  transform: scaleY(-1);
}

.icon-container:last-child {
  color: red;
  background-color: rgb(74, 74, 74);
  font-size: 15px;
  padding: 25px 20px;
}

.icon-container:nth-child(2) {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
